[Desktop Entry]
Name=PrettyMux
Comment=GPU-accelerated terminal multiplexer
Exec=prettymux
Icon=dev.prettymux.app
Type=Application
Categories=System;TerminalEmulator;
Keywords=terminal;multiplexer;gpu;
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
